<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ma blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="main.css">


  </head>
<body class="container">
<%- include ./partials/navbar.ejs %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/some_dude.png" class="img-responsive cstm-center" alt="Image">
    </div>
    <div class="col-md-6">
      <h3>Billy Bob</h3>
      <p>Pen Salesman</p>
      <p>Mega Pen Corp </p>
      <p>1-800-pens4-life</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="social-icons">
        <li><a href="https://github.com/fresh5447" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        <li><a href="https://www.linkedin.com/in/douglas-walter-0951aa61?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="https://twitter.com/Just_Be_Dougin" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Skills</h3>
        <ul>
          <li><h4>Able to count to 1000</h4></li>
          <li><h4>SUPER fast at talking</h4></li>
          <li><h4>Not very funny</h4></li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/images/skill_set.jpg" class="img-responsive cstm-img " alt="Image">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h3>Super Duper Portfolio</h3>
      <div class="row">
        <div class="col-md-5"><div class="panel panel-default">
          <div class="panel-body">
            <img src="/images/cool_stuff.gif" class="img-responsive" alt="Image">
          </div>
          <div class="panel-footer">
            <p>Super Project Name</p>
          </div>
        </div></div>
        <div class="col-md-5"><div class="panel panel-default">
          <div class="panel-body">
            <img src="/images/cool_stuff.gif" class="img-responsive" alt="Image">
          </div>
          <div class="panel-footer">
            <p>Super Project Name</p>
          </div>
        </div></div>
      </div>
      <div class="row">
        <div class="col-md-5"><div class="panel panel-default">
          <div class="panel-body">
            <img src="/images/cool_stuff.gif" class="img-responsive" alt="Image">
          </div>
          <div class="panel-footer">
            <p>Super Project Name</p>
          </div>
        </div></div>
        <div class="col-md-5"><div class="panel panel-default">
          <div class="panel-body">
            <img src="/images/cool_stuff.gif" class="img-responsive" alt="Image">
          </div>
          <div class="panel-footer">
            <p>Super Project Name</p>
          </div>
        </div></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <form action="" method="POST" role="form">
        <legend>contact me</legend>
      
        <div class="form-group">
          <label for="">your name</label>
          <input type="text" class="form-control cstm-form-input" id="" >
        </div>
      
        <div class="form-group">
          <label for="">your email</label>
          <input type="text" class="form-control cstm-form-input" id="" >
        </div>

        <div class="form-group">
          <label for="">message</label>
          <input type="text" class="form-control cstm-form-input" id="" >
        </div>
        
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>

</body>
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="app.js"></script>
</html>