section {
  background: #eee;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 6px;
  margin-top: 48px;
  margin-bottom: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.cstm-img {
  max-width: 60% !important;
}

.my-img {
  max-width: 30%;
  float: left;
  margin: 0 0 10px 10px;
}

.tweet-text {
  max-width: 70%;
}

.tweet-text p {
  font-size: 23px;
  padding-left: 5px;
}

.cstm-form-input {
  width: 50%;
}

.social-icons {
  list-style-type: none;
  margin-left: 14%;

}

.social-icons li {
  font-size: 60px;
  display: inline;
  margin: 20px;
}

.social-icons li:hover{
  color: purple;
}

.cstm-panel {
  
}

.cstm-center {
  margin: 0 auto;
}